<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.starlord.blipzone">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourZone"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.NextActivity" />
        <activity android:name=".views.EditProfileActivity" />
        <activity android:name=".views.CreatePostActivity" />
        <activity android:name=".views.ViewPostActivity" />
        <activity android:name=".views.LikesActivity" />
        <activity android:name=".views.CommentsActivity" />
        <activity android:name=".views.FollowingListActivity" />
        <activity android:name=".views.FollowersListActivity" />
        <activity android:name=".views.OtherProfileActivity" />
        <activity android:name=".views.MainActivity" />
        <activity android:name=".views.VerificationActivity" />
        <activity android:name=".views.SignUpActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.UploadService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="startservice" />
            </intent-filter>
        </service>
    </application>

</manifest>